<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

  ExpiresByType text/html                 "access plus 14 hours"
  ExpiresByType text/css                  "access plus 14 hours"
  ExpiresByType application/javascript    "access plus 14 hours"
  ExpiresByType text/javascript           "access plus 14 hours"
  
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
  
</IfModule>